<extend name="Public/base"/>
<block name="body">
    <style>
        .t1 {
            margin-left: -17px;
        }

        .t2 {
            margin-left: -130px;
        }

        .t8 {
            margin-left: -80px;
        }

        .t4 {
            margin-left: -120px;
        }

        /*.t5{margin-left: -170px;}*/
        .t6 {
            margin-left: -155px;
        }

        /*.t7{margin-left: -150px;}*/
        /*.t8{margin-left: -120px;}*/
        @media (max-width: 768px) {
            .top-menu {
                margin-left: 0px;
            }

            .t7 {
                margin-top: 5px;
            }
        }
    </style>
    <div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row hide-if-navbar-none" style="width:100%;line-height: 30px;">
                            <form action="{:U()}" method="get">
                                <div class="col-sm-5 m-b-xs" style="width: 200px;">
                                    <select class="input-sm form-control input-s-sm inline" name="searchType">
                                        <volist name="arrSearchType" id="v">
                                            <option value="{$v.val}" <if condition="$searchType eq $v['val']"> selected </if>>{$v.word}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="col-sm-3 top-menu t1" style="width: 200px;">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入关键词" class="input-sm form-control"
                                               name="search" value="{$search}"> <span class="input-group-btn"/>

                                    </div>
                                </div>

                                <div class="col-sm-5 m-b-xs" style="width: 200px;">
                                    <select class="input-sm form-control input-s-sm inline" name="limit">
                                        <volist name="page_select" id="v">
                                            <option value="{$v.val}" <if condition="$limit eq $v['val']"> selected </if>>{$v.word}</option>
                                        </volist>
                                    </select>
                                </div>

                                <div class="col-sm-6 top-menu t1" style="width: 200px;">
                                    <select class="input-sm form-control input-s-sm inline" name="searchUserType">
                                        <volist name="arrSearchUserType" id="v">
                                            <option value="{$v.val}" <if condition="$searchUserType eq $v['val']"> selected </if>>{$v.word}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="col-sm-3 top-menu t3" style="width: 200px;">
                                    <div class="input-group">
                                        变化时间
                                    </div>
                                </div>
                                <div class="col-sm-3 top-menu t4" style="width: 200px;">
                                    <div class="input-group">
                                        <input type="text" class="input-sm form-control" id="datetimepicker1"
                                               name="starttime" value="{$starttime|date='Y-m-d H:i',###}">
                                    </div>
                                </div>
                                <div class="col-sm-3 top-menu t5" style="width: 200px;">
                                    <div class="input-group">
                                        至
                                    </div>
                                </div>
                                <div class="col-sm-3 top-menu t6" style="width: 200px;">
                                    <div class="input-group">
                                        <input type="text" class="input-sm form-control" id="datetimepicker2"
                                               name="endtime" value="{$endtime|date='Y-m-d H:i',###}">
                                    </div>
                                </div>
                                <div class="col-sm-3 top-menu t7" style="width: 200px;">
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-sm btn-primary"> 搜索</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <volist name="show_list" id="v">
                                        <?php if ($v['type']['type'] != "hidden") { ?>
                                        <th>{$v.title}</th>
                                        <?php }?>
                                    </volist>
                                    <?php if (!empty($formRequest)) { ?>
                                    <th>修改</th>
                                    <?php }?>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="show_data" id="v">
                                    <tr class = "<?php echo 'current'.$v['roomid']; ?>">
                                        <form action="{$formRequest}" method="post" onsubmit="return form_ajax_post(this,{$v['roomid']});">
                                            <volist name="show_list" key="k" id="vv">
                                               <!--  <?php
                                                        $type = isset($vv['type']['type']) ? $vv['type']['type'] : '';
                                                        switch($type) {
                                                            case 'hidden':
                                                        ?>
                                                        <input type="hidden" name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">
                                                <?php
                                                            break;
                                                            default :
                                                        ?>
                                                        <?php }?> -->
                                                        

                                                <?php if (!empty($vv['href'])){ ?>
                                                <td>
                                                    <input type="hidden" name="<?php echo $vv['type']['name'];?>" value="<?php echo $v[$vv['key']];?>">
                                                    <a onclick="admin_edit('<?php echo $v[$vv['key']];?>','<?php echo str_replace($vv['replace_href'],$v[$vv['replace_href']],$vv['href']);?>','2','1200','800')"
                                                       style="text-decoration:none"><font color="#1AB394"><?php echo $v[$vv['key']];?></font></a>
                                                </td>
                                                <?php } else { ?>
                                                    <td>
                                                        <?php
                                                        $type = isset($vv['type']['type']) ? $vv['type']['type'] : '';
                                                        switch($type) {
                                                            case 'input':
                                                        ?>

                                                        <if condition="(($v['gameid'] eq 30000200) OR ($v['gameid'] eq 11100200) OR ($v['gameid'] eq 40000100) OR ($v['gameid'] eq 10000900) OR ($v['gameid'] eq 10001000) OR ($v['gameid'] eq 11000100) OR ($v['gameid'] eq 20170405) OR ($v['gameid'] eq 36610103)) AND (($vv['key'] eq 'realpeoplefailpercent') OR ($vv['key'] eq 'realpeoplewinpercent'))">
                                                            <input type="text" disabled name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">
                                                        <else />
                                                            <input type="text" name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">
                                                        </if>

                                                        <!--<in name='$roomid' value="30000200,11100200,40000100,10000900,10001000,11000100,20170405,36610103">
                                                            <input type="text" disabled name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">
                                                            <else/>
                                                            <input type="text" name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">
                                                        </in>-->
                                                        <!--<input type="text" name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">-->

                                                        <?php break;
                                                            case 'hidden':
                                                        ?>
                                                         <input type="hidden" name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">

                                                        <?php break;
                                                            case 'option1':
                                                        ?>
                                                            <select onchange="room_pool('<?php echo $v['roomid']; ?>',this.options[this.options.selectedIndex].value)" name="<?php echo $vv['type']['name'];?>" class="form-control m-b">
                                                                <!--<option value="">请选择</option>-->
                                                                <volist name="v.roominfo" id="ov">
                                                                    <option value="{$ov.roomid}" <?php if ($v['roomid'] == $ov['roomid']) {?>selected="selected"<?php }?>>{$ov.name}</option>
                                                                </volist>
                                                            </select>
                                                        <?php
                                                            break;
                                                            case 'option2':
                                                        ?>
                                                             {$v.platformctrlpercent_option2}
                                                        <?php
                                                             break;
                                                             case 'option3':
                                                        ?>
                                                        <if condition="(($v['gameid'] eq 30000200) OR ($v['gameid'] eq 11100200) OR ($v['gameid'] eq 40000100) OR ($v['gameid'] eq 10000900) OR ($v['gameid'] eq 10001000) OR ($v['gameid'] eq 11000100) OR ($v['gameid'] eq 20170405) OR ($v['gameid'] eq 36610103))">
                                                            <input type="text" disabled name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">
                                                        <else />
                                                            {$v.realpeoplefailpercent_option3}
                                                        </if>
                                                             <!--{$v.realpeoplefailpercent_option3}-->
                                                        <?php
                                                            break;
                                                            case 'option4':
                                                        ?>
                                                        <if condition="(($v['gameid'] eq 30000200) OR ($v['gameid'] eq 11100200) OR ($v['gameid'] eq 40000100) OR ($v['gameid'] eq 10000900) OR ($v['gameid'] eq 10001000) OR ($v['gameid'] eq 11000100) OR ($v['gameid'] eq 20170405) OR ($v['gameid'] eq 36610103))">
                                                            <input type="text" disabled name="<?php echo $vv['type']['name'];?>" class="form-control" <?php echo $vv['type']['attribution'];?> value="<?php echo $v[$vv['key']];?>">
                                                        <else />
                                                            {$v.realpeoplewinpercent_option4}
                                                        </if>
                                                            <!--{$v.realpeoplewinpercent_option4}-->
                                                        <?php
                                                            break;
                                                            default :
                                                        ?>
                                                        <?php echo $v[$vv['key']];?>
                                                        <?php }?>

                                                    </td>
                                                <?php } ?>
                                            </volist>
                                            <?php if (!empty($formRequest)) { ?>
                                            <td><button type="submit" class="btn btn-success btn-outline" onclick="">确认修改</button></td>
                                            <?php }?>
                                        </form>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                        <div class="page">{$_page}</div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function room_pool($currentroomid, $xuanzhongroomid) {
                $.ajax({
                    url:"{:U('getRoomBaseInfo')}",
                    // data:{roomid:$xuanzhongroomid,start:start,stop:stop},
                    data:{roomid:$xuanzhongroomid},
                    type:'post',
                    dataType:'json',
                    success:function(data){
                        $('.current'+$currentroomid).find("input[name='roomID']").val(data.roomid);
                        // $('.current'+$currentroomid).children().eq(3).text(data.platformprofitability);
                        $('.current'+$currentroomid).children().eq(3).text(data.sumgamewinmoney);
                        $('.current'+$currentroomid).children().eq(4).text(data.platformcompensate);
                        $('.current'+$currentroomid).find("input[name='incrementofgoldcoin']").val(data.incrementofgoldcoin);
                        $('.current'+$currentroomid).find("select[name='platformctrlpercent']").empty();
                        $('.current'+$currentroomid).find("select[name='platformctrlpercent']").append(data.platformctrlpercent);

                        $('.current'+$currentroomid).find("select[name='realpeoplefailpercent']").empty();
                        $('.current'+$currentroomid).find("select[name='realpeoplefailpercent']").append(data.realpeoplefailpercent);

                        $('.current'+$currentroomid).find("select[name='realpeoplewinpercent']").empty();
                        $('.current'+$currentroomid).find("select[name='realpeoplewinpercent']").append(data.realpeoplewinpercent);

                        $('.current'+$currentroomid).find("input[name='minPondMoney']").val(data.minpondmoney);
                        $('.current'+$currentroomid).find("input[name='maxPondMoney']").val(data.maxpondmoney);

                    }
                });

            }

        </script>
        <script type="text/javascript">
            //附档则表rewardsPool中的platformBankMoney的数值累加，累加的金额为gameWinMoney和allGameWinMoney之和减去platformBankMoney，所以这需要影藏2019.8.5
            $(function(){
               $("input[name='platformbankmoney']").parent().hide();
               $("input[name='gamewinmoney']").parent().hide();
               $("input[name='allgamewinmoney']").parent().hide();
            });

            //ajax post
            function form_ajax_post(e,roomid){
                var option = $('.current'+roomid).find("select option:selected").text();
                var platformctrlpercent_old = $('.current'+roomid).find("input[name='platformctrlpercent']").val();
                var platformctrlpercent_now = Math.abs(platformctrlpercent_old);
                if(platformctrlpercent_now > 1000){
                    layer.msg(option+"输赢胜率千分比取值范围-1000到1000");
                    $('.current'+roomid).find("input[name='platformctrlpercent']").css("background-color","#263949");
                    //alert(option+"输赢胜率千分比绝对值不能大于1000");
                    return false;
                }

                var realpeoplefailpercent = $('.current'+roomid).find("input[name='realpeoplefailpercent']").val();
                if(realpeoplefailpercent < 0 || realpeoplefailpercent > 1000){
                    layer.msg(option+"真人玩家输概率取值范围0到1000");
                    $('.current'+roomid).find("input[name='realpeoplefailpercent']").css("background-color","#263949")
                    //alert(option+"真人玩家输概率不能大于1000小于0");
                    return false;
                }

                var realpeoplewinpercent = $('.current'+roomid).find("input[name='realpeoplewinpercent']").val();
                if(realpeoplewinpercent < 0 || realpeoplewinpercent > 1000){
                    layer.msg(option+"真人玩家赢概率取值范围0到1000");
                    $('.current'+roomid).find("input[name='realpeoplewinpercent']").css("background-color","#263949")
                    //alert(option+"真人玩家赢概率不能大于1000小于0");
                    return false;
                }

                var $form = $(e);//that.parentsUntil('form');
                console.log('form', $form.length);
                layer.confirm('您确定要做此操作吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    //平台补偿金币操作之后，平台输赢胜率要自动往相应的变化2019.8.5
                    //平台输赢胜率内容(正一档)
                    var platformctrlpercent_name = $('.current'+roomid).find("select[name='platformctrlpercent']>option:selected").text();
                    //平台输赢胜率val值(正一档的值是200)
                    var platformctrlpercent_old = $('.current'+roomid).find("select[name='platformctrlpercent']>option:selected").val();
                    // var platformctrlpercent_now = Math.abs(platformctrlpercent_old);
                    var platformctrlpercent_now = parseInt(platformctrlpercent_old);
                    //实时奖池手动增减量
                    var incrementofgoldcoin = parseFloat($('.current'+roomid).find("input[name='incrementofgoldcoin']").val());
                    //实时奖池
                    var sumgamewinmoney = parseFloat($('.current'+roomid).find("input[name='sumgamewinmoney']").val());
                    //奖池金额下限(0表示默认的800)
                    var minPondMoney = ($('.current'+roomid).find("input[name='minPondMoney']").val() == 0) ? 800 : $('.current'+roomid).find("input[name='minPondMoney']").val();
                    //奖池金额上限(0表示默认的1000)
                    var maxPondMoney = ($('.current'+roomid).find("input[name='maxPondMoney']").val() == 0)? 1000 : $('.current'+roomid).find("input[name='maxPondMoney']").val();
                    //负档转正档的标识(默认0)
                    platformctrlpercent_nowlt0 = 0;
                    //当前平台输赢胜率为正档，如果增加平台补偿金币后，实时奖池金额超出奖池金额上限了，平台输赢胜率要自动转成对应的负档
                    if(platformctrlpercent_now > 0){
                        if(incrementofgoldcoin+sumgamewinmoney > maxPondMoney){
                            var platformctrlpercent_name = $('.current'+roomid).find("select[name='platformctrlpercent']>option:selected").text();
                            var num = platformctrlpercent_name.replace(/[^0-9]/ig,"");
                            //设置负档
                            $('.current'+roomid).find("select[name='platformctrlpercent']>option:selected").text("负"+num+"档");
                            $('.current'+roomid).find("select[name='platformctrlpercent']>option:selected").val(-platformctrlpercent_now);
                            console.log(num,platformctrlpercent_name);
                        }
                    //当前平台输赢胜率为负档，如果减少平台补偿金额后，实时奖池金额低于奖池金额下限了，则表rewardsPool中的platformBankMoney的数值累加，累加的金额为gameWinMoney和allGameWinMoney之和减去platformBankMoney而platformCompensate金额清零平台输赢胜率要自动转成对应的正档，这个时候实时奖池自动会转成0;
                    }else if(platformctrlpercent_now < 0){
                        if(incrementofgoldcoin+sumgamewinmoney < minPondMoney){
                            var platformctrlpercent_name = $('.current'+roomid).find("select[name='platformctrlpercent']>option:selected").text();
                            var num = platformctrlpercent_name.replace(/[^0-9]/ig,"");
                            //设置负档
                            $('.current'+roomid).find("select[name='platformctrlpercent']>option:selected").text("正"+num+"档");
                            var platformctrlpercent_now = Math.abs(platformctrlpercent_old);//设为正档
                            $('.current'+roomid).find("select[name='platformctrlpercent']>option:selected").val(platformctrlpercent_now);
                            $('.current'+roomid).find("input[name='sumgamewinmoney']").val(0);
                            $('.current'+roomid).find("input[name='platformcompensate']").val(0.00);
                            var platformbankmoney = parseFloat($('.current'+roomid).find("input[name='platformbankmoney']").val());
                            var gamewinmoney = parseFloat($('.current'+roomid).find("input[name='gamewinmoney']").val());
                            var allgamewinmoney = parseFloat($('.current'+roomid).find("input[name='allgamewinmoney']").val());
                            var platformBankMoney_now = (gamewinmoney + allgamewinmoney - platformbankmoney);
                            $('.current'+roomid).find("input[name='platformbankmoney']").val(platformBankMoney_now);
                            console.log(platformctrlpercent_now);
                            //负档转正档的标识(设置成1)
                            var platformctrlpercent_nowlt0 = 1;
                        }
                    }

                    console.log(platformctrlpercent_nowlt0,platformBankMoney_now,platformbankmoney,gamewinmoney,allgamewinmoney,maxPondMoney,minPondMoney,sumgamewinmoney,incrementofgoldcoin,platformctrlpercent_name,platformctrlpercent_now);

                    
                    // return false;


                    var form = $form;
                    var url= $form.attr('action');
                    if(platformctrlpercent_nowlt0 == 1){
                       var cs = $.param({'platformctrlpercent_nowlt0':platformctrlpercent_nowlt0})+'&'+$form.serialize();
                    }else{
                       var cs = $form.serialize();  
                    }
                    // console.log(cs);return false;
                    $.ajax({
                        url:url,
                        data:cs,
                        type:'POST',
                        success:function(data){
                            if(data.status==1){
                                layer.msg(data.info, {icon: 1});
                                var timer = setInterval(function(){
                                    clearInterval(timer);
                                    window.location.href=data.url;
                                },2000);
                            }else{
                                layer.msg(data.info, {icon: 2});
                            }
                        }
                    });
                }, function(){
                    layer.msg('取消成功', {
                        time: 1500, //20s后自动关闭
                    });
                    return false;
                });
                return false;
            }
        </script>
</block>

