<extend name="Public/base"/>
<block name="body">
    <div class="wrapper wrapper-content animated fadeInRight" style="width:105%;">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row" style="width:100%;line-height: 30px;">
                            <div class="col-sm-3" style="width:100px;margin-left:0px;">
                                <div class="input-group">
                                    <a href="javascript:;" class="btn btn-sm btn-success"
                                       onclick="admin_edit('发布群消息','{:U('send_message')}','2','500','500')"
                                       style="text-decoration:none"> 推送群消息</a>
                                </div>
                            </div>
                            <!--<div class="col-sm-3" style="width:100px;margin-left:0px;">
                                <div class="input-group">
                                    <a href="javascript:;" class="btn btn-sm btn-success"
                                       onclick="admin_edit('推送批量消息','{:U('piliang_send_message')}','2','500','580')"
                                       style="text-decoration:none"> 批量推送消息</a>
                                </div>
                            </div>-->
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <!--<th>邮件标题</th>-->
                                    <th>邮件内容</th>
                                    <th>类型</th>
                                    <th>发送时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="emailList" id="email">
                                    <tr>
                                        <!--<td>{$email.title}</td>-->
                                        <td>{$email.content}</td>
                                        <td><if condition="$email['type'] eq 1">群消息
                                            <else />批量消息
                                        </if></td>

                                        <td>{$email.sendtime|date="Y-m-d H:i:s",###}</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <!--<div class="page">{$page}</div>-->
                    </div>
                </div>
            </div>
        </div>
</block>
